<section class="home-options">
    <div class="home-options__option" style="transform: translateY(10px);">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/RedisLabs_Homepage_Getstarted_Cloud.svg" alt="Cloud Icon" style="width:70px;transform: translateY(-2px); margin-top:13px; margin-bottom:24px;">
                </div>
                <h5>Prior Art Searches</h5>
                <p>Integrating AI technologies with expert analysis to evaluate inventions for novelty and inventiveness, bolstering the strength of patent applications.</p>
            </a>
        </div>
        <hr>

    </div>

    <div class="home-options__option" style="transform: translateY(-1px);">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/RedisLabs_Homepage_Getstarted_Software.svg" alt="Software Icon" style="width: 70px; margin-top:13px; margin-bottom:14px;">
                </div>
                <h5>Invalidation & Opposition Searches</h5>
                <p>Harnessing the expertise of our patent specialists alongside state-of-the-art AI and LLM-driven technologies, our Hybrid patent validity analysis provides a thorough and precise solution for assessing patent validity.</p>
            </a>
        </div>
        <hr>
    </div>

    <div class="home-options__option" style="transform: translateY(10px);">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-platforms.svg" alt="Platforms Icon" class="platforms-icon">
                </div>
                <h5>IP Commercialisation</h5>
                <p>Elevate your business with our innovative Patent Portfolio Commercialization service. Our advanced AI platform, combined with expert analysis, crafts tailored strategies to monetize the patents in your portfolio, transforming them into lucrative revenue streams.</p>
            </a>
        </div>
        <hr>
    </div>

    <div class="home-options__option" style="transform: translateY(-3px);">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/stack-icon.svg" alt="Stack Icon" style="height: 70%; margin-top: 20px">
                </div>
                <h5>Landscape and Benchmarking</h5>
                <p>Harness the power of AI for in-depth patent landscape mapping, complemented by expert analysis, to reveal critical technology trends. Our AI-driven scouting, guided by expert insights, pinpoints cutting-edge technologies and potential partnership prospects.</p>
            </a>
        </div>
        <hr>
    </div>

    <div class="home-options__option" style="min-height:394px;min-width:328px">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-connect.svg" alt="Redis Data Integration Icon" style="height: 70%; margin-top:20px;">
                </div>
                <h5>Market Research Solutions</h5>
                <p>Our consultative report addresses specific business problem through tailor-made solutions for each client for a given market, geography and industry. </p>
            </a>
        </div>
        <hr>
    </div>

    <div class="home-options__option">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-redisinsight.svg" alt="RedisInsight Icon" style="height: 70%; margin-top:20px;">
                </div>
                <h5>Trademark Searches</h5>
                <p>Trademarks are a fundamental aspect of our trademark and wordmark searches is crucial for protecting your brand and reputation. Determining what qualifies as a trademark can be complex.</p>
            </a>
        </div>
        <hr>
    </div>

    <div class="home-options__option">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-redisinsight.svg" alt="RedisInsight Icon" style="height: 70%; margin-top:20px;">
                </div>
                <h5>Patent Drafting, Illustration & Filing</h5>
                <p>Effective patent drafting is essential when submitting provisional or complete specifications to the patent office. This process involves writing detailed descriptions, drafting claims etc.</p>
            </a>
        </div>
        <hr>
    </div>

    <div class="home-options__option">
        <div class="tile-opener">
            <a href="/">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-redisinsight.svg" alt="RedisInsight Icon" style="height: 70%; margin-top:20px;">
                </div>
                <h5>Customized Report Requests</h5>
                <p>Handling of data can be very tricky sometimes. If you would like to make an specific request. We can help you with tailor made reports as per your requests.</p>
            </a>
        </div>
        <hr>
    </div>

</section>
